/* Your styles go here */
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");

.jumbotron {
    background: url(https://images.unsplash.com/photo-1574970324184-746b18c8bd49?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dXRhaHxlbnwwfHwwfHx8MA%3D%3D);
    background-position: 0 -200px;
    background-size: cover;
}